@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

footer {
  background-color: #1a1b1f;
  color: #888;
  width: 70%;
  margin: 0 auto;
  min-height: 80px;
  padding: 10px 20px;
  text-align: center;
  border-bottom: 0.9px solid #525252;
}
button:hover {
      background: #2cad2c;
    transform: translateY(-3px);
    
    
}



button {
      display: inline-block;
    padding: 14px 32px;
    background: #239823;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 120px;
    cursor: pointer;
    transition: all 0.25s ease;

}
p{
    color: #585757;
  
    margin-right: 10px;
    margin-left: 15px;
    font-size: 20px;
}
body p {
    margin-left: 15px;
}
body {
   font-family: 'Poppins', sans-serif;
  background-color: #1a1b1f;
   margin: 0;
   color: #ffffff; 
}
span{
    color: #238b23;
}
    
h1{
    color: #a5a4a45e;
    font-size: 50px;
}
h3{
    MARGIN-LEFT: 35PX;
    font-size: 30px;
}

.stats {
    border-radius: 10px;
    border: 0.7px solid #888;
    padding : 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    opacity: 0.9;
    
    background-color: #131316;
}
.stats3 {
    border-radius: 10px;
    border: 0.7px solid #888;
    padding : 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    opacity: 0.9;
    
    background-color: #131316;
}

.stats2 {

   
    text-align: center;
    justify-content: center;
    align-items: center;

    opacity: 0.9;
    width: 100%;
    
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
     display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.copyright {
    
    left: 0;
    bottom: 0;
    width: 90%;
    height: 210px;
    content-align: center;
    margin: 0 auto;
    
    color: #ffffff;
    text-align: center;
    border-top: 1px solid #525252;

   
    justify-content: center;
    align-items: center;
}


.stats p {
    flex: 1 1 200px; 
    max-width: 400px;
}



a:link,
a:visited,
a:hover,
a:active {
    color: inherit; /* Inherits text color from parent */
    text-decoration: none; /* Optional: removes underline */
}

.bigbox {
    background-color: #131316;
    padding: 20px;
    border: 0.3px solid #888;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    height: auto;
    max-width: 800px;
    text-align: center;
    content-align: center;

}


.infobox {
    background-color: #315031;
    height: 150px;
    border: 0.3px solid #888;
    border-radius: 10px;

    width: 80%;
    max-width: 500px;
    min-width: 150px;

    display: inline-block;
    padding: 20px;
    margin: 10px;
    text-align: center;
    vertical-align: top;
}

.infobox:hover {
    
    border-color: #ffffff;
   
    
    
      transition: border-color 1s;
}
small {
    color: #424242;
}

img {
  -webkit-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

@view-transition {
    navigation: auto
}
